<form class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <legend>Creaza Camera</legend>

    <!-- Prepended checkbox -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="Privat">Privat</label>
      <div class="col-md-4">
        <div class="input-group">
      <span class="input-group-addon">
          <input type="checkbox">
      </span>
          <input id="Privat" name="Privat" class="form-control" type="text" placeholder="parola">
        </div>

      </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="time">Timp (secunde)</label>
      <div class="col-md-2">
        <select id="time" name="selectbasic" class="form-control">
          <option value="60">60</option>
          <option value="90">90</option>
          <option value="120">120</option>
        </select>
      </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="runde">Runde</label>
      <div class="col-md-2">
        <select id="runde" name="Runde" class="form-control">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
        </select>
      </div>
    </div>

  </fieldset>
</form>
